//$body-bg: #777;

$link-color-dark: #dee2e6;
$link-hover-color-dark: #6383e6;

$fa-font-path: "@fortawesome/fontawesome-free/webfonts";

@import "~bootstrap/scss/bootstrap";
@import "@fortawesome/fontawesome-free/scss/fontawesome";
@import "@fortawesome/fontawesome-free/scss/regular";
@import "@fortawesome/fontawesome-free/scss/solid";
@import "@fortawesome/fontawesome-free/scss/brands";
